$default-font: "roboto-example", sans-serif;
$colorSlider: cadetblue;
$bgDesc: #5f0c9e;
$bgMainContainers: #343a40;
$bgMyPhoto: rgba(70, 8, 139, 0.7);
$usefulBg: #fff;
$mySkillColor: #2c2c2c;
$fontSizeIconsMySkills: 80px;


@mixin textStyle($size, $position, $weight, $color) {
    font-size: $size;
    text-align: $position;
    font-weight: $weight;
    color: $color;
}
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
